.searchButton {
  color: #000  !important;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(48, 60, 108, 0.322);
  padding: 13px 20px;
  border: 1px solid #303C6C !important;
  border-radius: 2px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  }

  .searchButton:hover {
    color: #ffffff !important;
    background: #303C6C;
    border-color: #303C6C !important;
    transition: all 0.4s ease 0s;
    }
    
    .bookButton {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      // margin: 30px 10px 10px 10px;
      color: #000  !important;
      text-transform: uppercase;
      text-decoration: none;
      background: rgba(48, 60, 108, 0.322);
      padding: 15px;
      border: 1px solid #303C6C !important;
      border-radius: 2px;
      display: inline-block;
      transition: all 0.4s ease 0s;
      }
    
      .bookButton:hover {
        color: #ffffff !important;
        background: #303C6C;
        border-color: #303C6C !important;
        transition: all 0.4s ease 0s;
        }