.filter__content {
    background-color: rgb(241, 240, 240);
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 1px solid #aaa;
  }
  
  .filter {
    width: 20%;
    margin: 20px 0 0 20px;
    background-color: white;
    border-radius: 20px;
  
    &__title {
        display: block;
      padding: 1em;
      text-align: center;
      border-bottom: dashed $orange;
    }
    &__pair {
      padding: 0.5em;
    }
    &__label {
      cursor: pointer;
    }
    &__keywords {
      
    }
    &__options{
        padding: 1em;;
    }
    &__inpSelect {
        width: 100%;
        cursor: pointer;
        background-color: $orange;
    }
    &__option{
        background-color: $lighter-orange;
        cursor: pointer;
        &:checked{
            background-color: $orange;
        }
    }
  }
  

  
.filter__select {
    margin: 15px;
    border: 1px solid lightgrey;
  
    h3 { 
      padding: 5px 10px;
      margin: 0;
      border-bottom: 1px solid lightgrey;
    }
  
    .filter__type { 
      padding: 0 10px;
      margin: 10px 0 0 10px;
    }
  
    
  }