#content {
  margin: 0 auto;
}
.dest{
  &__title{
  font-size: 50px;
  color: white;
  }
  &__quest{
   color:white; 
   font-size: 30px;
  }
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu{
  border-bottom: 5px solid #F4976C;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  &__tab {
    width: 100%;
    padding: 20px 40px;
    border: none;
    border-left: 1px dashed #F4976C;  
    border-right: 1px dashed #F4976C;  
    background-color: #fff;
  }
  &__tab {
      cursor: pointer;
  }
  &--active {
    
    border-bottom: none;
    background-color: #F4976C;
  }


}
#content {
}
.filter__content {
  background-color: rgb(241, 240, 240);
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #aaa;
}


.page__title {
  
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

  

.filter__select {
  margin: 15px;
  border: 1px solid lightgrey;

  h3 { 
    padding: 5px 10px;
    margin: 0;
    border-bottom: 1px solid lightgrey;
  }

  .filter__type { 
    padding: 0 10px;
    margin: 10px 0;
  }

  
}

.flight__list {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.flight {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  background-color: white;
  margin:0 1em;
  padding: 1em 0;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 2.5px;
  margin-bottom: 1em;
  box-shadow: 0px 0px 5px 0px rgba(194,194,194,0.87);  @media (max-width: 799px) {

  }
  // &:hover {
  //   border-width: 5px;
  //   background-color: lightgoldenrodyellow;
  // }


  &__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }

  &__number {
    display:inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

  }
  .number{
    &__info{
      font-weight: bold;
    }
    &__number {
      font-weight: bold;
      line-height: 0;
    }
  }

  &__plan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  &__planDest{
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
  }
  &__origShort{
    font-size: 1em;
  }

  &__depTime{
    font-weight: bold;
    font-size: 1.5em;
  }
  &__planDest{
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
  &__destShort {
    font-size: 1em;
  }

  &__arrTime {
    font-weight: bold;
    font-size: 1.5em;
  }

  &__duration{
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;

  }

  &__duration{
    font-size: 10px;
  }

  &__dec{
    font-family: 'Courier New', Courier, monospace;
  }
  &__airline {
    display: flex;
    flex-direction: column-reverse;
    text-align: right;
  }

  &__datetime {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__airline {
    display: flex;
    align-self: center;
    text-align: center;
    .airline {
      &__image {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    .ticket{
      &__price{
        font-weight: bold;
        font-size: 2em;
      }
    }
  }
}

#flights {
  background: url('img/plane.png') no-repeat scroll 15px 15px white ;
  text-indent: 20px;
}

#accommodation {
  background: url('img/hotel.png') no-repeat scroll 15px 15px white ;
  text-indent: 20px;
}

#trip {
  background: url('img/hot-air-balloon.png') no-repeat scroll 15px 15px white ;
  text-indent: 20px;
}