html {
    background-image: url(img/yellow-boat.jfif);
    background-size: cover;

}

.searchBox {
    width: 1300px;
    margin: 10% auto;
    // border: rgba(235, 194, 61, 1.0) dotted 10px;
    // background-color: rgba(48, 60, 108, 0.4);
    border-radius: 10px;
    padding: 50px;
    
    h2 {
        margin-top: 0;
        color: #ffffff;
    }

    input {
        padding: 10px;
        font-size: 16px;
        margin-right: 10px;
    }

    .place {
        padding-right: 300px;
    }
    
}

.guests {
    display: flex;
    background-color: white;
    padding: 0 20px;
    margin-right: 20px;
    margin: auto;
    p {
        white-space: nowrap;
        padding: 0 5px;
        margin: auto ;
    }
}

.search {
    display: flex;
    padding: 5px;
    justify-content: center;
}


#tab1Content {
    display: block; 
    
   }
    
#tab2Content, #tab3Content {
    display: none; 
   }

@import "header";
@import "button";
@import "config";
@import "trip";
