.dest{
  &__title{
  font-size: 50px;
  color: white;
  }
  &__quest{
   color:white; 
   font-size: 30px;
  }
}

.content {
  max-width: 1200px;
  margin: auto;
}

.menu{
  width: fit-content;

  button {
    padding: 20px 40px;
    background-color: white;
    border-bottom: none;
    border: solid;
    border-bottom: none;
  }
}


.cards {
    background-color: white;
    border: 1px solid grey;
//    border-top:none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
//    margin-left: -10px;
//    margin-right: -10px;

    &__col {
        // padding-right: 10px;
        // padding-left: 10px;
        width: 100%;
        margin-bottom: 10px;    
    }
}

.page__title {
  width: 66%;
  margin-left: auto;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.cards__filter{
  background-color:white;
  width:50%;
}
  
.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    width: 66%;
    height: 100%;
    margin-left: auto;
//    max-width: 600px;
    max-height: 300px;
    overflow: hidden;
  
    background-color: white; /*ÞARF AÐ TENGJA CONFIG SEM bluegrey!!!*/
    border: 1px solid #aaa;
    border-radius: 4px;
  
  &__header {
      margin-bottom: 10px;
  }
  &__title {
    margin: 5px;
    font-size: 1.7em;
    font-family: Lora;
    line-height: 1;
    word-break: break-word;
  }
  &__header{
    margin-bottom: 0px;
  }
  &__PriceStar{
    flex-direction: column; 
    // display: flex;
    // flex: 2;
    // margin:5px;
  }
  &__price{
    color: gray;
    margin-bottom:0px;
  }
  // &__stars{
  //   padding-left: 9em;
    /* flex: 0 0 200px;   /* þetta breytir stærð stjarnanna */
  // }
  
  &__content {
    display: flex;
    flex: 2;
  }
  &__text {
    font-size: 1em;
    font-family: Lora;
    line-height: 1.375;
    overflow: auto;
    word-break: break-word;
  }
  &__image {
    padding-left: 1em;
    flex: 0 0 150px;
  }
  &__img {
    max-width: 100%;
  }
  &__tags {
    margin-top: 1em;
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
    list-style: none;
  }
}

#flights {
  background: url('img/plane.png') no-repeat scroll 15px 15px white ;
  text-indent: 20px;
}

#accommodation {
  background: url('img/hotel.png') no-repeat scroll 15px 15px white ;
  text-indent: 20px;
}

#trip {
  background: url('img/hot-air-balloon.png') no-repeat scroll 15px 15px white ;
  text-indent: 20px;
}