$max-width: 1200px;
$gutter: 20px;
$font-main: Lora, Times-New-Roman, serif;
$transition: 300ms ease-in-out;

$black: #000;
$darkgrey: #999;
$lightgrey: #aaa;
$lightergrey: #ccc;
$darkblue: #303C6C;
$orange: #F4976C;
$yellow: #FBE8A6;
$bluegrey: #B4DFE5;
$lighterbluegrey: #D2FDFF; 
